:root {
    --blue: #008ca0; /* primary */
    /*--indigo: #6610f2; */
    --purple: #5a1e82; /* secondary*/
    /*--pink: #e83e8c;*/
    --red: #eb3273; /* danger */
    /*--orange: #fd7e14;*/
    --yellow: #ffd200; /*warning*/
    --green: #b4dc50; /* success */
    /*--teal: #20c997; */
    /*--cyan: #17a2b8; */
    --white: #ffffff; 
    --gray: #b4b4b4; /* info*/
    --gray-light: #d2d2d2; /* info-light*/
    --gray-dark: #343a40;
    --primary: #008ca0; /*dreal*/
    --primary-active: #00465a; /*dreal*/
    --primary-light: #00bebe; /*dreal*/
    --secondary: #5a1e82; /*dreal*/
    --success: #b4dc50; /*dreal*/
    --info: #b4b4b4; /*dreal*/
    --info-light: #d2d2d2; /*dreal*/
    --warning: #ffd200;/*dreal*/
    --danger: #eb3273; /*dreal*/
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

/* for vignettes otherwise in bootstrap */
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}


/* TOC */
#TOC::before {
    content: "TABLE DES MATIERES";
    line-height: 2rem;
    color: var(--primary-active);
}
#TOC {
    border-top: solid 1px var(--gray-light);
    border-bottom: solid 1px var(--gray-light);
    padding: 0.33em 0;
}
#TOC ul li::marker {
    display: none;
}
#TOC ul {
    padding-left: 0;
    list-style-type: none;
}
#TOC ul li ul {
    padding-left: 1.25rem;
}

#TOC.tocify {
    border-radius: 0;
}
#TOC.tocify::before {
    margin-left: 5px;
}
#TOC.tocify ul li {
    background-color: var(--primary-light);
    color: white;
}
#TOC.tocify .active {
    background-color: var(--primary-active);
    color: var(--primary-light);
}
#TOC.tocify ul li:hover {
    background-color: var(--primary);
}

/* BEGIN TABLE STYLES */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table > thead > tr > th,
table > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
}

.table th, .table td,
table th, table td {
  font-size: 0.9333rem;
  /*padding: 0.9333rem 1rem 0.6rem 1rem;*/
  padding: 0.45rem 0.5rem 0.3rem 0.5rem; /* Modified by SEB */
  border-top-color: #00465a; }

.table thead th,
table thead th {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  border-bottom-color: #00465a; }

.table tbody + tbody,
table tbody + tbody {
  border-top-color: #00465a; }
  
.table-bordered tbody tr th,
.table-bordered tbody tr td {
    border-bottom: solid 2px #008ca0;
}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 2px solid transparent;
}

/* Blockquote */
blockquote {
    font-size: 1.133rem;
    display: block;
    margin: 1.5rem auto;
    width: 50%;
    padding: 0 1rem;
    position: relative;
    color: #00bebe;
    border: none;
    font-family: "Roboto", Arial, sans-serif;
}

blockquote::before,
blockquote::after {
    content: '';
    background: #00bebe;
    width: 10px;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: -12px;
}

blockquote::after {
    height: 50%;
    left: -28px;
}


/* nav-tabs*/
.nav-tabs {
    background-color: var(--primary-light);
    color: var(--white);
    font-weight: bold;
}
.nav-tabs > li.active {
    border-top-color: var(--primary-active);
    background-color: var(--primary-active);
}
.nav-tabs > li.active a {
    background-color: var(--primary-active);
}
.nav-tabs > li.active {
  color: var(--primary-active);
}
.nav-tabs > li > a,
.nav-tabs > li.active a {
  color: var(--white);
  text-decoration: none;
}
.nav-tabs > li > a:hover {
    color: var(--primary-active);
}
.nav-tabs > li.active a:focus {
    background-color: var(--primary-active);
    color: var(--white);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,
.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
    border: none;
}